@model Spike.Web.Models.BaseModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Web API & Service Example</title>

    @RenderSection("Header", required: false)
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", required: true)
</body>
</html>
